@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
@{
}

<div class="container">
    <div class="jumbotron">
        <h1>
            Api endpoint usage and discovery
        </h1>
        <p>
            All endpoints that have been tested will be explained and accessible from this endpoint
        </p>
    </div>
    <ul>
        <li>
            <a href="/golfcourse/getcourses"> Get Courses</a>
        </li>
    </ul>
</div>